body {
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
} */

header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header p {
  line-height: 40px;
}

header h1 {
  text-align: center;
  font-size: 30px;
}

header button {
  float: right;
}

footer {
  height: 40px;
  border-radius: 5px;
  background: lightgray;
}

footer p {
  text-align: center;
  line-height: 40px;
  color: darkgray;
}

article {
  display: flex;
}

article .left {
  flex: 65%;
  margin-right: 5%;
}

article .right {
  flex: 30%;
}

article .right h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

article .right li {
  margin-bottom: 10px;
}

article .right a {
  color: lightblue;
}

article .right ul {
  list-style: none;
  padding: 0;
}

article .about-me {
  background: lightgray;
  padding: 10px;
}

article .box {
  border: 1px solid lightgray;
}

article code {
  display: block;
  border: 1px solid lightgray;
}

article .left h2 {
  margin-bottom: 0;
}

article .left .page-title p {
  margin-top: 4px;
}

article .left p {
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 19px;
}

article .left .page-link {
  border: 1px solid lightgray;
  padding: 8px 16px;
  border-radius: 20px;
  color: lightcoral;
  text-decoration: none;
}
